.container{
    background-image: url('../../img/2.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    
}
.container_form {
    width: 500px;
    height: 700px;
  
    background-color: aqua;
    border:black solid ;
}

.boton{
    font-size: 28px;
    margin-top: 45px;
    margin-right: 2100px;
    border-radius: 5px;
    background-color: hsla(0,0%,100%,.25);
    color: rgb(0, 0, 0);
    cursor: pointer; 
}
.boton:hover{
    box-shadow: 10px 8px 10px rgb(93, 86, 86);
}
.formato{
    border-radius: 35px;
    background-color: hsla(0,0%,100%,.25);
    padding: 10px;
    margin-top: 90px;
    margin-left: 500px;
    margin-right: 800px;
}

.label{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

.h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:  48px;
}

.pais{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size:  25px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:  25px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input{
    text-align: center;
    padding:5px 10px 5px 10px;
    border-radius: 20px;
}

.dificultad{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:  25px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.duracion{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:  25px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.temporada{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:  25px;
    padding-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.enviar{
    text-align: center;
    color: black;
    
}

.boton-enviar{
    width: 200px;
    padding: 2%;
    border: 0.5px solid;
    margin-top: 1em;
    margin-bottom: 2.5em;
    font-size: 25px;
    background-color:rgb(109, 98, 191);
    color: rgba(23, 16, 29, 0.742);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.boton-enviar:hover {
    cursor: pointer;
    color: white;
    font-size:25px;
    margin-top: 1em;
    margin-bottom: 2.5em;
    background-color: brown;
}
.error{
    color: red;
    font-size: x-large;
}