

.inicio_boton{
    height: 35px;
    width: 150px;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 35px;
    margin-right: 150px;
    margin-left: 40px;
    box-shadow: 10px 8px 10px rgb(115, 106, 106);
    cursor: pointer; 
    color:rgb(0, 0, 0);
    background-color:  rgba(179, 188, 47, 0.65);
}
.inicio_boton:hover{
    box-shadow: 10px 8px 10px rgb(93, 86, 86);
}

.busqueda{
    width: 250px;
    height: 10px;
    border-radius: 10px ;
   padding: 20px;
    font-family:  Arial, sans-serif;
    font-size: 23px;
    margin-bottom: 20px;
}

.buscar{
    border-radius: 10px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    box-shadow: 10px 8px 10px  rgb(115, 106, 106);
    cursor: pointer;
    color:rgb(0, 0, 0);
    background-color:   rgba(179, 188, 47, 0.65);
    margin-left: 10px;
    padding: 10px;
    
}
.buscar:hover{
    box-shadow: 10px 8px 10px rgb(93, 86, 86);
}

.createcountry_boton{
    height: 30px;
    font-size: 28px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    padding-bottom: 40px;
    padding-top: 10px;
    margin-left: 160px;
    margin-right: 100px;
    box-shadow: 10px 8px 10px rgb(115, 106, 106);
    color:rgb(0, 0, 0);
    background-color:  rgba(179, 188, 47, 0.65);
    cursor:pointer;
}
.createcountry_boton:hover{
    box-shadow: 10px 8px 10px rgb(93, 86, 86);
}

